

<div id="controlesCarrusel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner w-75 " style="margin: auto;" >

    <div class="carousel-item "  *ngFor="let articulo of listaArticulos; let i = index" [class.active] = "i == 0" (click)="muestraArticulo(articulo)">
      <div class=" w-50 " >
        <img [src]="articulo.pictureUrl" class="d-block w-100" [alt]="articulo.description">
      </div>
    </div>

  </div>
  <button class="carousel-control-prev" style="color: black !important;" type="button" data-bs-target="#controlesCarrusel" data-bs-slide="prev">
    <i class="bi bi-chevron-left botonSlider" ></i>
  </button>
  <button class="carousel-control-next" style="color: black !important" type="button" data-bs-target="#controlesCarrusel" data-bs-slide="next">
    <i class="bi bi-chevron-right botonSlider"></i>

  </button>
</div>


<p-dialog *ngIf="articuloAMostrar"
  [header]="articuloAMostrar.description"
  [(visible)]="displayModal"
  [modal]="true"
  [style]="{ width: '75vw' }"
  [draggable]="false"
  [resizable]="false"
  [closable]="false"
>
<img [src]="articuloAMostrar.pictureUrl" width="120">

  <p class="m-2" >
    {{ articuloAMostrar.text }}
  </p>
  <p class="m-2">
    <b>Stock disponible:</b> {{ articuloAMostrar.stock }}
  </p>
  <p class="m-2">
    <b>Precio:</b> {{ articuloAMostrar.price  | currency:'EUR' }}
  </p>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="cerrarModal()"
      label="Ok"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>
</p-dialog>


