

.clickable{
	cursor: pointer;
}

.contenedorSlider{
	width: 70%;
}

.familia .col:hover {
	background-color: cornflowerblue;
	color: white;
}


@media (max-width: 550px) {
	.contenedorSlider {
		width: 100%;
	}
  }
